{% extends 'base.html' %}

{% block content %}

<h1>Add Post for {{ user.first_name }} {{ user.last_name }}</h1>
{% for message in get_flashed_messages() %}
  <p>{{ message }}</p>
{% endfor %}
<form action="/users/{{ user.id }}/posts/new" method="POST">
  <label>Title</label>
  <input type="text" name="title" required>
  <label>Content</label>
  <!--  <input type="text" name="content_field" required>-->
  <textarea name="content" rows="4" cols="50" required></textarea>

  <!--Can't seem to get cancel button to take us back to user detail
  page while the input fields are required; seem to need to put its own field-->
  <!-- <button formaction="/users/{{ user.id }}" formmethod="GET">Cancel</button> -->

  <button>Add</button>
</form>

<form action="/users/{{ user.id }}" method="GET">
  <button>Cancel</button>
</form>

{% endblock %}