{% extends 'base.html' %}

{% block content %}

<h1>Add Post for {{ user.first_name }} {{ user.last_name }}</h1>
{% for message in get_flashed_messages() %}
  <p>{{ message }}</p>
{% endfor %}
<form action="" method="POST">
  <label>Title</label>
  <input type="text" name="title" required>
  <label>Content</label>
  <!--  <input type="text" name="content_field" required>-->
  <textarea name="content_field" rows="4" cols="50" required></textarea>
  <button action="" method="GET">Cancel</button>
  <button>Add</button>
</form>

{% endblock %}